<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img src="assets/coworkingg-min.png" class="img-fluid" alt="Sebi">
    </div>
    <div class="col-lg-6 margin-2 pt-3">
      <div class="d-flex flex-column h-100 justify-content-center">
        <h5>Founder</h5>
        <h1>Coworking Space</h1>
        <p>Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. Mazim nemore singulis an ius, nullam ornatus nam ei.</p>
        <div class="icons">
          <a href="#"><img src="assets/facebook.png" class="img-fluid" alt="Facebook"></a>
          <a href="#"><img src="assets/twitter.png" class="img-fluid" alt="Twitter"></a>
          <a href="#"><img src="assets/instagram.png" class="img-fluid" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>