<div class="container text-center mt-5 mb-5">
  <h2 class="title">ABOUT US</h2>
</div>
<div class="container mb-5">
  <img src="assets/Homepage1.jpg" class="img-fluid pb-5">
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 margin-2 animated-left animated-right">
      <div class="d-flex flex-column h-100">
        <h1>Our Story</h1>
      </div>
    </div>
    <div class="col-lg-8 animated-right">
      <h5 class="text-muted">
        Makerspace Innovation Center Prizren (MICP) started as an initiative in 2017 by ICT enthusiasts and professionals in the city of Prizren. It serves as a hub for students, ICT enthusiasts, and individuals with common interests. Initially, MICP focused on training, coworking spaces, and networking events for the community. Over time, as its capacities and team expanded, it has become an important pillar that promotes innovation, education, and entrepreneurship in Prizren and beyond.
      </h5>
      <h5 class="text-muted">
        Currently, located in the Innovation and Training Park in Prizren (ITP Prizren), Makerspace Innovation Center Prizren offers the following components:
      </h5>
      <ul class="text-muted fs-5">
        <li> Vocational education and training programs with a focus on employment</li>
        <li> Support for entrepreneurship and business startups</li>
        <li>Coworking space</li>
        <li> MakersLab – a creative industry laboratory</li>
        <li> Community-focused networking events and activities</li>
      </ul>
       <h5 class="text-muted"> As an active part of ITP Prizren, we are one of the training providers with a special focus on employment. Our training programs, adapted to the modern labor market, include Frontend Web Development, Backend Web Development, Graphic Design, Photography, Video Editing, CNC Operation, Accounting with Software and Taxes, Social Network Management, Modeling and 3D Printing.</h5>
      <h5 class="text-muted">
        In addition to training, we also provide support for entrepreneurs and startup businesses who want to develop and grow their business ideas. Our entrepreneurship and startup incubation programs offer mentoring sessions with foreign and local experts, aiming to foster an entrepreneurial spirit, create sustainable businesses, and generate new jobs in the region of Prizren and beyond.</h5>
      <h5 class="text-muted">  
        At Makerspace Innovation Center Prizren we offer various resources, including coworking spaces. These spaces have become increasingly popular among independent professionals and those working remotely for foreign employers. Alongside coworking spaces, we provide access to meeting rooms, a shared kitchen for breaks, 24-hour facility access, and the opportunity to participate in community events.</h5>
      <h5 class="text-muted">  
        Furthermore, our center features a fully equipped laboratory with lasers and CNC machines. This valuable facility allows students and trainees to practice their skills and utilize the materials acquired during their training, specifically for modeling and 3D printing, and CNC operation. Students can also utilize the laboratory for research and the development of products and prototypes.</h5>
      <h5 class="text-muted">  
        Lastly, our activities and networking events at Makerspace Innovation Center Prizren deserve special recognition. These events aim to bring together professionals from various fields, fostering new and fruitful relationships among members of the MICP community who share common interests.</h5>
    </div>
  </div>
</div>

<div class="container-fluid my-5 py-5 bg-dark">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col">
      <h1 class="text-light">Our Values</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center text-light my-5 py-5">
      <img src="/assets/innovation-logo.png">
      <h2 class="text-light">Innovation.</h2>
      <h5 class="text-light">A platform to explore new ideas, develop skills, and collaborate on creative problem-solving solutions through programs, training and resources.</h5>
    </div>
    <div class="col-md-4 text-center text-light my-5 py-5">
      <img src="/assets/education-logo.png">
      <h2 class="text-light">Education.</h2> 
      <h5 class="text-light">Empower individuals by enhancing their employability through professional development programs tailored to the needs of the modern job market.</h5>
    </div>
    <div class="col-md-4 text-center text-light my-5 py-5">
      <img src="/assets/community-logo.png">
      <h2 class="text-light">Community.</h2>
      <h5 class="text-light">We highly value community engagement and strive to instill a stronger sense of it by organizing events that bring people together and encourage successful collaborations.</h5>
    </div>
  </div>
</div>