
<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/assets/front-end.png" class="card-img" alt="Your Image">
      </div>
      <div class="col-md-10">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title float-left">Front End Development</h5>
              <p>Edon Kizolli</p>
            </div>
          </div>
          <div class="col-md-4 card-button">
            <div class="card-body">
              <a href="#" class="btn orange-button float-right" disabled>Registrations are closed</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters border-top">
          <div class="col-md-12">
            <ul class="list-unstyled row">
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">Period:</h1>
                <p>Janar-Dhjetor</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">duartion:</h1>
                <p>42 orë</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LIMITED SEATS:</h1>
                <p>10</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LEVEL:</h1>
                <p>Fillestar</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">PRICE:</h1>
                <p><b>250€ (student: 200€)</b></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/assets/cnc-operim.png" class="card-img" alt="Your Image">
      </div>
      <div class="col-md-10">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title float-left">Operim me CNC</h5>
              <p>Arbër Kryeziu</p>
            </div>
          </div>
          <div class="col-md-4 card-button">
            <div class="card-body">
              <a href="#" class="btn orange-button float-right" disabled>Registrations are closed</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters border-top">
          <div class="col-md-12">
            <ul class="list-unstyled row">
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">Period:</h1>
                <p>Janar-Dhjetor</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">duartion:</h1>
                <p>42 orë</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LIMITED SEATS:</h1>
                <p>10</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LEVEL:</h1>
                <p>Fillestar</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">PRICE:</h1>
                <p><b>250€ (student: 200€)</b></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/assets/back-end.png" class="card-img" alt="Your Image">
      </div>
      <div class="col-md-10">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title float-left">Back End Development</h5>
              <p>Ibrahim Gërniqi</p>
            </div>
          </div>
          <div class="col-md-4 card-button">
            <div class="card-body">
              <a href="#" class="btn orange-button float-right" disabled>Registrations are closed</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters border-top">
          <div class="col-md-12">
            <ul class="list-unstyled row">
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">Period:</h1>
                <p>Janar-Dhjetor</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">duartion:</h1>
                <p>42 orë</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LIMITED SEATS:</h1>
                <p>10</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LEVEL:</h1>
                <p>Fillestar</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">PRICE:</h1>
                <p><b>250€ (student: 200€)</b></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/assets/dizajn-grafik.png" class="card-img" alt="Your Image">
      </div>
      <div class="col-md-10">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title float-left">Dizajn Grafik</h5>
              <p>Artan Xhaha</p>
            </div>
          </div>
          <div class="col-md-3 card-button">
            <div class="card-4ody">
              <a href="#" class="btn orange-button float-right" disabled>Registrations are closed</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters border-top">
          <div class="col-md-12">
            <ul class="list-unstyled row">
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">Period:</h1>
                <p>Janar-Dhjetor</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">duartion:</h1>
                <p>42 orë</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LIMITED SEATS:</h1>
                <p>10</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LEVEL:</h1>
                <p>Fillestar</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">PRICE:</h1>
                <p><b>250€ (student: 200€)</b></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="/assets/video-editim.png" class="card-img" alt="Your Image">
      </div>
      <div class="col-md-10">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title float-left">Video Editim</h5>
              <p>Muhidin Xhezairi</p>
            </div>
          </div>
          <div class="col-md-4 card-button">
            <div class="card-body">
              <a href="#" class="btn orange-button float-right" disabled>Registrations are closed</a>
            </div>
          </div>
        </div>
        <div class="row no-gutters border-top">
          <div class="col-md-12">
            <ul class="list-unstyled row">
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">Period:</h1>
                <p>Janar-Dhjetor</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">duartion:</h1>
                <p>42 orë</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LIMITED SEATS:</h1>
                <p>10</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">LEVEL:</h1>
                <p>Fillestar</p>
              </li>
              <li class="col-md-2 col-sm-4 col-6 custom-list-item">
                <h1 class="text-muted">PRICE:</h1>
                <p><b>250€ (student: 200€)</b></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/edon.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Edon Kizolli</h5>
            <p class="small text-muted">Web Development</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/edon.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Edon Kizolli</h5>
            <p class="small text-white mb-0">Web Development</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Trajner kompetent në Web Development për të mësuar dhe përvetësuar web teknologjitë e fundit dhe për të ndërtuar webfaqe dinamike.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/Artan.png" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Artan Xhaha</h5>
            <p class="small text-muted">Dizajn Grafik</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/Artan.png" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Artan Xhaha</h5>
            <p class="small text-white mb-0">Dizajn Grafik</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Dizajner grafik me përvojë i aftë për t’i pajisur kandidatët me aftësi dhe teknika thelbësore për të shkëlqyer në këtë fushë.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/arber.png" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Arbër Kryeziu</h5>
            <p class="small text-muted">Operim me CNC</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/arber.png" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Arbër Kryeziu</h5>
            <p class="small text-white mb-0">Operim me CNC</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Trajner me përvojë në transmetimin e lehtë të udhëzimeve për modelim dhe printim 3D.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 4 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/muhidin.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Muhidin Xhezairi</h5>
            <p class="small text-muted">Fotografi dhe Video Editim</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/muhidin.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Muhidin Xhezairi</h5>
            <p class="small text-white mb-0">Fotografi dhe Video Editim</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Trajner i kompletuar për t’i ofruar kandidatëve një proces të lehtë mësimit, nga “frontend interfaces” deri në sistemet “backend”</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 5 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/ibrahim.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Ibrahim Gërbiqi</h5>
            <p class="small text-muted">Full Stack</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/ibrahim.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Ibrahim Gërbiqi</h5>
            <p class="small text-white mb-0">Full Stack</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Trajner i kompletuar për t’i ofruar kandidatëve një proces të lehtë mësimit, nga “frontend interfaces” deri në sistemet “backend”</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 6 -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0 cardCont">
        <div class="card-body p-0 cardFront">
          <img src="/assets/lamir.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Lamir Shkurti</h5>
            <p class="small text-muted">Web Development</p>
          </div>
        </div>
        <div class="card-body p-0 cardBack">
          <div class="bg-primary px-5 py-4 text-center card-img-top">
            <img src="/assets/lamir.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
            <h5 class="text-white mb-0">Lamir Shkurti</h5>
            <p class="small text-white mb-0">Web Development</p>
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="p-4 d-flex justify-content-center">
            <p>Ndërtimi i web faqeve do të jetë me i lehtë me udhëzimet praktike që vijnë si rezultat i ekspertizës së tij.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
