<header class="py-4">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand" routerLink="/homepage"><img src="/assets/logo.svg" class="box mb-0" alt="Logo"></a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon" #togglerIcon></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}" id="navbarNav">
        <div class="link-box" #linkBox>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/homepage" (click)="closeNavbar()">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/trainings" (click)="closeNavbar()">Trainings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" (click)="closeNavbar()">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="shadow d-flex justify-content-around p-3 mt-4">
  <section>
    <img src="/assets/responsive-logo.svg">
  </section>
  <section class="d-flex align-items-center">
    <a href="https://www.facebook.com/makerspaceinnovationcenter/" class="me-3"><img src="/assets/fb-dark.svg" class="img-fluid"></a>
    <a href="https://www.linkedin.com/company/makerspace-prizren/?originalSubdomain=fj" class="me-3"><img src="/assets/ln-dark.svg" class="img-fluid"></a>
    <a href="https://www.instagram.com/makerspaceprizren/?hl=en" class="me-3"><img src="/assets/insta-dark.svg" class="img-fluid"></a>
    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FMakerspacePz"><img src="/assets/twitter-dark.svg" class="img-fluid"></a>
  </section>
</footer>
