<div class="container text text-center mt-5 mb-5">
  <h1 class="display-4">We can help you transform a simple idea into a fully functional business.</h1>
  <p class="lead">Makerspace Innovation Center Prizren is a place where innovators, entrepreneurs, technology enthusiasts, and students can come together to exchange ideas, develop new technologies, and make an impact to the entire community.</p>
</div>
<div class="container">
  <img src="assets/Homepage1.jpg" class="img-fluid pb-5">
</div>
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-1 order-2 animated-left"> 
      <img src="/assets/Training-03-min.png" class="img-fluid" alt="Training">
    </div>
    <div class="col-lg-6 margin-2 pt-3 order-lg-2 order-1 animated-right"> 
      <div class="d-flex flex-column h-100 justify-content-center">
        <h1>Trainings</h1>
        <h5 class="text-muted">We offer a range of training programs focused mainly on digital skills. Our training programs are delivered by experienced instructors and are designed to meet your needs, giving you the most valuable information and techniques about your chosen field of training. With our training programs we can help you achieve great levels of expertise in everything you choose.</h5>
        <div class="icons">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 margin-2 pt-3 animated-left second-animated-left">
      <div class="d-flex flex-column h-100 justify-content-center">
        <h1>Coworking Space</h1>
        <h5 class="text-muted">We provide a welcoming and stimulating environment for professionals from diverse fields. It is thoughtfully designed to cater to the needs of individuals or small teams, offering a comfortable space to thrive and work with enthusiasm. It is worth mentioning the nature that surrounds the place,
           it is the perfect way to spend your free time and relax from everything else.</h5>
        <div class="icons">
        </div>
      </div>
    </div>
    <div class="col-lg-6 second-animated-right">
      <img src="assets/coworkingg-min.png" class="img-fluid" alt="Coworking">
    </div>
  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <h1 class="display-4">Proven Success</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover">
        <div class="card-body">
          <img src="/assets/partners-logo.png" class="card-img">
          <div class="big-number" #number1>27</div>
          <p class="card-text">Partners</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover">
        <div class="card-body">
          <img src="/assets/jobs-logo.png" class="card-img">
          <div class="big-number" #number2>80+</div>
          <p class="card-text">Jobs created</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover">
        <div class="card-body">
          <img src="/assets/training-logo.png" class="card-img">
          <div class="big-number" #number3>500+</div>
          <p class="card-text">Training beneficiaries</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover">
        <div class="card-body">
          <img src="/assets/people-logo.png" class="card-img">
          <div class="big-number" #number1>3000 +</div>
          <p class="card-text">People engaged</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-hover">
        <div class="card-body">
          <img src="/assets/teams-logo.png" class="card-img">
          <div class="big-number" #number2>79</div>
          <p class="card-text">Startup Teams</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body card-hover">
          <img src="/assets/events-logo.png" class="card-img">
          <div class="big-number" #number3>262</div>
          <p class="card-text">Events</p>
        </div>
      </div>
    </div>
  </div>
</div>
